@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&display=swap');

body {
    background-color: #11071F;
    color: white;
    font-family: "Preahvihear", serif;
    display: flex;
    justify-content: center;
}

.container {
    width: 1160px;
}

.menu {
    font-family: "Plus Jakarta Sans", serif;
    display: flex;
    gap: 170px;
    align-items: center;
    margin-top: 35px;
}

.menu .link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.menu .link:hover {
    opacity: 0.7;
}

.menu .logo {
    flex: 1;
    margin-left: 35px;
}